asttokens
backcall
certifi==2021.10.8
colorama
cycler==0.11.0
debugpy
decorator
entrypoints
executing
fonttools==4.33.3
ipykernel
ipython
jedi
joblib==1.1.0
jupyter-client
jupyter-core
kiwisolver==1.4.2
matplotlib==3.5.2
matplotlib-inline
nest-asyncio
numpy==1.22.4
packaging==21.3
pandas==1.4.2
parso
pickleshare
Pillow==9.1.1
prompt-toolkit
pure-eval
Pygments
pyparsing==3.0.9
python-dateutil
pyzmq
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six
stack-data
threadpoolctl==3.1.0
tornado
traitlets
wcwidth
wincertstore==0.2
